.header-container {
    z-index: 999;
}

.header-image, .header-container {
	padding: 0;
}

body.header-full {
    .header-image, .header-container {
        width: 100%;
    }
}

.title-container, .nav-container {
	padding: 0 $gap-tiny;
}

.header-main {
	display: flex;
    align-items: center;
}

body.header-sticky {
    .header-container {
        position: fixed;
        left: 0;
        right: 0;
    }
    .header-image {
        margin-top: 50px;
    }
}

.banner {
    overflow: hidden;
}

.header-image {
    text-align: center;
}

body.header-parallax {
    .header-image img {
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.background-wrapper {
    padding-top: $gap-big;
}

body:not(.header-parallax) {
    .background-wrapper {
        background-color: transparent !important;
    }
}

.master-title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	a {
		font-size: 30px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-family: $font-family-sans-serif;
    	display: block;
		color: inherit !important;
    	&:hover {
    		color: inherit !important;
    	}
	}
}

@media (max-width: $screen-sm) {
	.master-title {
		padding-right: 50px;
		a {
			font-size: 20px;
			letter-spacing: 2px;
		}
	}
	.site-icon {
		width: 25px;
		height: 25px;
	}
}

.site-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
    height: auto;
    font-size: 0;
	margin-right: 15px;
	transition: opacity ease .4s;
	flex-shrink: 0;
	&:hover {
		opacity: $hover-opacity;
	}
	img {
		display: block;
	}
}

.page-header {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: $gap-small;
	border: none;
	.separator {
		display: inline-block;
		margin: 0 20px;
		height: 39px;
		line-height: 39px;
	}
	.dashicons {
		height: 39px;
		line-height: 39px;
		font-size: 30px;
		width: 30px;
	}
}

.nav-container {
	text-transform: uppercase;
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
	.title-container {
		border-top: 2px solid;
	}
	.nav-container {
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
}

.header-socials, .header-search {
	float: right;
}
