.header-container {
}

.header-image, .header-container {
	padding: 0;
}

.title-container, .nav-container {
	padding: 0 $gap-tiny;
}

.header-main {
	display: flex;
    align-items: center;
}

.master-title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	a {
		font-size: 30px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-family: $font-family-sans-serif;
    	display: block;
		color: inherit;
    	&:hover {
    		color: inherit;
    	}
	}
}

@media (max-width: $screen-sm) {
	.master-title {
		padding-right: 50px;
		a {
			font-size: 20px;
			letter-spacing: 2px;
		}
	}
	.site-icon {
		width: 25px;
		height: 25px;
	}
}

.site-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
    height: auto;
    font-size: 0;
	margin-right: 15px;
	transition: all ease .4s;
	flex-shrink: 0;
	&:hover {
		opacity: $hover-opacity;
	}
	img {
		display: block;
	}
}

.banner {
	margin-bottom: $gap-big;
	overflow: hidden;
}

.header-image {
	text-align: center;
	overflow: hidden;
	body.header-parallax & {
		position: fixed;
		left: 0;
		top: 50px;
	}
	body.header-parallax & img {
	}
}

.page-header {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: $gap-small;
	border: none;
	.separator {
		display: inline-block;
		margin: 0 20px;
		height: 39px;
		line-height: 39px;
	}
	.dashicons {
		height: 39px;
		line-height: 39px;
		font-size: 30px;
		width: 30px;
	}
}

.nav-container {
	text-transform: uppercase;
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
	.title-container {
		border-top: 2px solid;
	}
	.nav-container {
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
}

.header-socials, .header-search {
	float: right;
}