// General styling
.post {
	margin-bottom: $gap-big;
	.entry-title {
		margin-bottom: 5px;
		a {
			letter-spacing: 3px;
		}
	}
	.entry-meta {
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		line-height: 2;
	}
	.author {
		display: inline-block;
	}
	.separator {
		margin: 0 10px;
	}
	.post-categories {
		display: inline;
		padding: 0;
		li {
			display: inline-block;
		}
	}
	.read-more {
		margin-top: 10px;
	}
}

// Post list
body:not(.single) .post {

	.entry-content {
		padding: $gap-tiny;
	}

	.entry-image {
		padding-bottom: $gap-tiny;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	header {
		overflow: hidden;
	}

	.entry-summary {
		margin-top: 10px;
		img {
			box-sizing: content-box;
			float: left;
			padding-right: 20px;
		}
		p {
			margin-bottom: 10px;
		}
	}

	&.sticky {
		padding-bottom: $gap-medium;
		border-bottom: 3px solid;
	}
	.entry-title {
		.dashicons {
			font-size: inherit;
			margin-right: 10px;
			opacity: .4;
		}
	}
}

// Post detail
body.single .post {
	.entry-title {
		margin-bottom: 20px;
	}
	.single-content {
		padding: $gap-tiny;
	}
	.single-content, .comments {
		margin-bottom: $gap-big;
	}
	.entry-content {
		margin-top: 30px;
	}
	.single-tags {
		.dashicons {
		    padding-top: 4px;
		    margin-right: 5px;
		}
	}
	footer {
		margin-top: 50px;
	}
}

@media (max-width: 767px) {
	body.single .post {
		.single-content {
			padding: 2.5vw;
			figure {
				margin-left: -7.5vw;
				margin-right: -7.5vw;
				max-width: 100vw;
				.wp-caption-text {
					text-align: center;
				}
			}
		}
	}
}