%category {
	line-height: 1;
	padding: 2px 5px;
	margin: 0 2px;
	border: 1px solid $gray-light;
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
}
[rel=category] {
	@extend %category;
}