%tag {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	line-height: 1;
	padding-bottom: 2px;
	margin: 0 2px;
	border-bottom: 2px solid $gray;
	&:before, &:after {
		display: none;
	}
}

[rel=tag] {
	@extend %tag;
}

.tagcloud {
	a {
		@extend %tag;
	}
}