$white: #fff;
$black: #333;
$brand: #111;

// TEXT
$text: rgba($black, .8);
	$heading: rgba($text, .9);
	$separator: rgba($text, .4);
$alt-text: $white;
$link: $brand;

// BG
$bg: $white;
$post-bg: $white;

// CTA
	$cta: $brand;
	$cta-text: $alt-text;

// HEADER
	$header: $post-bg;
	$header-text: $brand;

// FOOTER
	$footer: $brand;
	$footer-text: $alt-text;
	
// WIDGET
	$widget: $post-bg;
	$widget-text: $heading;