.comment-list {
  @include list-unstyled;
  margin-bottom: $gap-big;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .button;
  @extend .button-primary;
}

.comment-form-comment {
	margin-top: $gap-small;
	label {
		display: none;
	}
}

.comment-form-author, .comment-form-email {
	width: 50%;
	float: left;
}

.comment-form-author {
	padding-right: $gap-tiny;
}

.comment-form-email {
	padding-left: $gap-tiny;
}

@media (max-width: 700px) {
	.comment-form-author, .comment-form-email {
		width: 100%;
		padding: 0;
	}
}

.form-submit {
	clear: both;
}

.comments {
	@extend %line-top;
}

.comments-title {
	text-transform: uppercase;
	margin-bottom: $gap-medium;
}

.comment {
	margin-top: $gap-tiny;
	margin-left: $gap-tiny;
	&.depth-1 {
		padding-bottom: $gap-tiny;
		margin-left: 0;
	}
	.gravatar {
		float: left;
		margin-right: 16px;
		margin-bottom: 8px;
		img {
			border-radius: 50%;
			box-shadow: 0 0 6px #ddd;
		}
	}
	article {
		padding-left: $gap-tiny;
		border-left: 1px solid #ddd;
	}
	.if-author {
		padding: 3px;
		border-radius: 5px;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		font-size: $font-size-small;
		display: inline-block;
		vertical-align: middle;
	}
	&:not(.bypostauthor) {
		.if-author {
			display: none;
		}
	}
}

.comment-meta {
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
	min-height: 42px;
	padding-left: 48px;
	.fn {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin: 0;
		font-size: 15px;
		font-family: $font-family-sans-serif;
		line-height: 1.2;
	}
	time {
		text-transform: uppercase;
		font-size: 11px;
		font-family: $font-family-sans-serif;
		line-height: 1.2;
	}
	a {
		line-height: 1.2;
	}
}

.comment-meta-item {
	text-transform: uppercase;
	font-size: 11px;
	font-family: $font-family-sans-serif;
}

.comment-reply-wrapper {
	float: right;
	z-index: 1;
	padding-left: 15px;
	padding-bottom: 15px;
	a, div {
		display: inline-block;
		vertical-align: middle;
	}
}

.comment-reply-link {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	margin-left: 5px;
}

.logged-in-as {
	margin-top: 10px;
}