a {
	@extend %clearfix;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
	box-shadow: none !important;
}

img,
figure,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

ul {
    -webkit-padding-start: 0;
}

li {
	list-style: none;
	line-height: 2;
}

p {
	margin: 0;
}

.button, .button a {
	font-family: $font-family-sans-serif;
}

// Infinite scrolling

.nav-previous, .nav-next {
		width: 260px;
		display: block !important;
		margin-left: auto;
		margin-right: auto;
}

.nav-previous {
	@extend .button;
	@extend .button-primary;
}

.nav-next {
	@extend .button;
	@extend .button-primary;
	margin-bottom: $gap-medium !important;
}

.posts-navigation {
	margin-bottom: 80px;
}

body.no-sidebar .wrap {
	max-width: 900px;
}

.separator {
	opacity: .4;
}

$hover-opacity: .6;

.alert {
	// background-color: transparent;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left-width: 5px;
}

input[type=text], input[type=email], input[type=url],, textarea {
    border: 1px solid #ccc;
    &:focus {
        outline: none;
        border-color: #666;
    }
}

label {
    font-weight: 300;
}


// Woocommerce
.woocommerce div.product .woocommerce-tabs .panel {
    padding: $gap-small;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    &:after {
        border-color: transparent !important;
    }
}

.woocommerce a.remove {
    &:after {
        border-color: transparent !important;
    }
}

body.bg-no-diff {
    .woocommerce div.product .woocommerce-tabs .panel {
        padding: 0;
    }
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
