#footer {
	margin-top: $gap-big;
}

.footer-widgets {
	width: 33.33333333333333%;
	padding: 0 1.5%;
	margin-bottom: calc(2vw - -20px);
	float: left;
}

@media (max-width: 991px) {
	.footer-widgets {
		width: 100%;
		padding: 0;
	}
}

.footer-copy-container {
    padding-top: $gap-tiny;
	padding-bottom: $gap-small;
    a {
        border-bottom: 2px solid;
        color: inherit !important;
        border-color: inherit !important;
        &:hover, &:focus {
            color: inherit !important;
            border-color: inherit !important;
        }
    }
    .top {
        margin-bottom: $gap-tiny;
    }
    .bottom {
        font-size: $font-size-small;
    }
}
